.modal_login {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  .login {
    background-color: #fff;
    margin: -20px -24px -32px;
    width: 800px;
    height: 500px;
    max-height: 500px;
    border-radius: 8px;
    .login_row {
      height: 100%;
      width: 100%;
    }
    .login_left {
      height: 100%;
      padding: 40px 45px;
      h3 {
        margin: 0px 0px 10px;
        font-size: 24px;
        font-weight: 500;
      }
      p {
        margin: 0px;
        font-size: 15px;
      }
      .login_form {
        .login_form_item {
          margin: 20px 0px;
          label {
            display: block;
            margin: 0px 0px 10px;
            font-size: 18px;
            font-weight: 500;
          }
          label,
          input {
            font-size: 16px;
          }
        }
        .btn_login {
          margin: 30px 0px 0px;
          outline: none;
          border-radius: 4px;
          background: rgb(255, 66, 78);
          padding: 13px 0px;
          width: 100%;
          color: rgb(255, 255, 255);
          border: none;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            background: rgb(255, 66, 78, 0.8);
          }
        }
        .login_forgot{
          text-align: right;
          color: #1677ff;
          font-size: 16px;
          &:hover{
            text-decoration: underline;
            opacity: 0.8;
            cursor: pointer;
          }
        }
        .login_form_bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #1677ff;
          font-size: 16px;
          text-decoration: none;
          cursor: pointer;

          div {
            display: flex;
            align-items: center;
            gap: 4px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    .login_right {
      background: linear-gradient(
        136deg,
        rgb(240, 248, 255) -1%,
        rgb(219, 238, 255) 85%
      );
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 75%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
