.header{
    // height: 88px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 1000;
    // gap: 48px;
    font-size: 20px;
    .header_container{
        margin: 0 auto;
        max-width: 1200px;
    }
    .header_row{
        display: flex;
        // justify-content: space-between;
        padding: 20px 0;
    }
    .logo_img{
        width: auto;
        height: 75%;
    }
    .header_category{
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: left;
        padding-left: 0;
        transition: .3s;
        .header_item{
            color: #000;
            &:hover{
                color: #1677ff;
            }
        }
    }
    .header_center{
        display: flex;
        align-content: flex-start;
        flex-direction: column;
    }
    .header_right{
        display: flex;
        font-size: 18px;
        justify-content: center;
        color: rgb(128, 128, 137);
        gap: 15px;
        cursor: pointer;
        align-items: center;
        margin-bottom: 40px;
        .header_cart{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }

}