body {
    margin: 0;
    height: 100vh; // Set body height to 100vh
  }
  .container_layout {
    height: 100%; // Set height to 100%
    width: 100%; // Set width to 100%
    .layout_form {
      background-color: #fff;
      height: 100%; // Set height to 100%
    }
  }